.botao{
    height: 3rem;
    padding: .5em;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight:550;
    
}

.primario{
    background: var(--cor-azul-1);
    color: var(--cor-branco-1);
    border: none;
    &:hover{
        border: .1rem var(--cor-azul-1) solid;
        background-color: transparent;
        color: var(--cor-azul-1);
    }
}
.secundario {
    color: rgb(247, 82, 82);
    border-color: rgb(247, 82, 82);
    background: none;
    &:hover {
        background-color: rgb(247, 82, 82);
        color: var(--cor-preto-1);
    }
}