<div class="nav">
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="Logo.svg" alt="Logo" />
    </div>

    <app-barra-pesquisar class="barra-pesquisar-desktop"></app-barra-pesquisar>

    <div class="pesquisar-mobile">
      <button class="bnt-pesquisar-mobile" (click)="trocar()">
        <img src="search.svg" alt="Botão pesquisar" />
      </button>
    </div>

    <app-botao
      label="Chamar Amigo"
      icone="group_add"
      estilo="secundario"
    ></app-botao>

    @if(this.tokenServ.validarToken()){
    <h1>{{ nomeUsuario}}</h1>
    }@else{
    <app-botao
      label="Entrar"
      icone="person"
      estilo="sem-fundo"
      (abrir)="login($event)"
    ></app-botao>
    }
  </div>
</div>
@if(pesquisar){
<app-barra-pesquisar class="barra-pesquisar-mobile"></app-barra-pesquisar>
}
