<div class="nav">
    <div class="container">
        <div class="logo">
            <img src="Logo.svg" alt="Logo">
        </div>

        <div class="pesquisar">
            <form class="form-pesquisar">
                <input type="text">
                <button class="bnt-pesquisar">
                    <img src="search.svg" alt="Botão pesquisar">
                </button>
            </form>
        </div>

        <div class="match">
            <button class="bnt-match">
                <mat-icon>group_add</mat-icon>
                <p>Chamar amigo</p>
            </button>
        </div>

        <div class="login">
            <button class="bnt-login">
                <mat-icon>person</mat-icon>
                <p>Entrar</p>
            </button>


        </div>
    </div>
</div>