.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    width: 100%;
    height: 5rem;
    background-color: #00050d;
    color: #cacaca;
}

.pesquisar-mobile {
    display: none;
}

.bnt-pesquisar-mobile {
    background: none;
    border: none;
    color: var(--cor-cinza-1);

    img {
        color: #00050d;
    }



}

.bnt-login {
    color: var(--cor-cinza-2);
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: none;

    h6 {
        font-size: medium;
        margin: 0;
    }

}

.bnt-match {
    color: rgb(247, 82, 82);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    border-color: rgb(247, 82, 82);
    background: none;
    padding: .5rem;

    p {
        margin: 0;
    }

    &:hover {
        background-color: rgb(247, 82, 82);
        color: var(--cor-preto-1);
    }
}

.logo {
    height: auto;
    width: auto;
}

@media (max-width: 680px) {

    .pesquisar-mobile {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .bnt-pesquisar-mobile {
        display: flex;
        visibility: visible;
    }

    .barra-pesquisar-desktop {
        display: none;
    }

    .barra-pesquisar-mobile {
       display: absolute;
    }
}