.container {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: red;

    .informacoes {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
}