.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    .container-conteudo {

        width: 70vw;

        .titulo-paginator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            .titulo {
                color: var(--cor-branco-1);
            }
        }

        .filmes {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            line-gap-override: initial;
            flex-wrap: wrap;
            gap: 2rem;


        }

        .paginator-rodape{
            margin-top: 2rem;
        }
    }
}