.container {
    display: flex;
    justify-items: space-between;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    .filmes {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        height: 100vh;
            line-gap-override:initial;
            flex-wrap: wrap;
                        gap: 2rem;


    }
}