.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 80vh;


}

.imagem-fundo {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .esmaecer {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000000a4
    }

    .degrade {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0), var(--cor-preto-2) 95%);
    }

}

.informacoes {
    padding: 1rem;
    max-width: 50%;
    max-height: 90%;
    color: var(--cor-branco-1);
    position: relative;
    display: flex;
    flex-direction: column;
     gap:1rem;


    .titulo {
        width: 90%;
        max-height: 7em;
        overflow: hidden;
       

        h1 {
            margin: 0;
            padding: 0;
            font-size: 2.6em;
            

        }
    }

    .sinopse {
        width: 100%;
        
         p {
            margin: 0;
            padding: 0;
            

        }
    }

}


@media(max-width: 680px) {
    .sinopse {
        display: none;
    }
}