.card-filme {
    display: flex;
    position: relative;
    height: 11rem;
    width: 8rem;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: .5rem;
    box-shadow: .1rem .1rem .3rem;
    overflow: hidden;

    &:hover {
        width: 16rem;
        transition: 1s;

        .info-filme {
            transition: 1s;
            transform: translate(8rem);
        }

        .poster-filme {
            transition: 1s;
            filter: brightness(80%);
        }
    }

    &:not(:hover) {
        transition: 1s;

        .info-filme {
            transition: 1s;
        }

        .poster-filme {
            transition: 1s;
        }

    }
}

.info-filme {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 8rem;
    height: 11rem;
    padding: .4rem;
    box-sizing: border-box;

    .label {
        font-size: .6rem;
    }

    .titulo {
        display: flex;
        flex-direction: row;
        font-size: .8rem;
        
    }
    .nota{
        justify-content: space-around;
        font-size: .8rem;
    }

    .sinopse {
        font-size: .7rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


.poster-filme {
    position: absolute;
    width: 8rem;
    height: 11rem;
    z-index: 2;

    img {
        height: 100%;
        width: 100%;
    }
}