<div class="card-filme">
    <div class="info-filme">
        <div class="poster-filme">
            <img [src]="filme.urlCapaPoster" alt="">
        </div>
        <div class="titulo">
            <p>{{filme.titulo}}</p>
        </div>

    </div>
    

<div class="mascara"></div>
    <div class="nota-sniper">

        <div class="nota">
            <p>{{filme.nota.toFixed(1)}}</p>
        </div>
        <mat-progress-spinner class="sniper"  mode="determinate" [value]=filme.nota*10 diameter="35">
        </mat-progress-spinner>
    </div>


</div>
