.card-filme {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 14.5rem;
    width: 9rem;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: .1rem .1rem .3rem;

    .info-filme {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        background-color: var(--cor-cinza-1);

        .poster-filme {
            width: 100%;
            height: 75%;

            img {
                height: 100%;
                width: 100%;

            }
        }

        .titulo {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: row;
            font-size: .8rem;
            padding: .3rem;
            color: var(--cor-branco-1);

        }

    }

    .mascara {
        position: absolute;
        background-color: var(--cor-preto-2);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        right: -1rem;
        top: -1rem;
    }


    .nota-sniper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cor-preto-2);
        background-color: rgba(173, 173, 173, 0.719);
        font-size: 0.8rem;

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        right: -.5rem;
        top: -.5rem;

        .mascara {
            position: absolute;
            background-color: var(--cor-preto-2);
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }

        .sniper {
            position: absolute;

        }

        .nota {
            position: absolute;
        }

        p {
            font-size: 80%;
            font-weight: 900;
            margin: 0;
            color: var(--cor-preto-2);
        }

    }



}