.card-filme {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 14rem;
    width: 9rem;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: .1rem .1rem .3rem;

    .info-filme {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        background-color: var(--cor-cinza-1);

        .poster-filme {
            width: 100%;
            height: 75%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .titulo {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: row;
            font-size: .8rem;
            padding: .3rem;
            color: var(--cor-branco-1);

        }

    }

    .nota {
        color: var(--cor-preto-2);
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: .8rem;
        background-color: rgba(173, 173, 173, 0.719);
        right: -1rem;
        top: -1rem;
        p{
            margin: 0;
        }
        
    }
}