.bnt-trailer{
    background: var(--cor-azul-1);
    color: var(--cor-branco-1);
    border: none;
    width: 6rem;
    height: 3rem;
    border-radius: .5rem;
    &:hover{
        border: .1rem var(--cor-azul-1) solid;
        background-color: transparent;
        color: var(--cor-azul-1);
    }
}